body{
  background-color:pink;
}
h1{
    font-size:300%;
    letter-spacing:2px;
    font-family: "Calibri";
    color: purple;
  text-decoration: underline;
  text-decoration-color: black;
}
    
p1{
  font-size:150%;
  font-family:"Verdana";
}
  a{
  color: black;
  font-size:100%;
    font-family:"Verdana";
}
 
